kbd {
  box-shadow: inset 0 -1px 0 #d1d5da;
  border: solid 1px #d1d5da;
  padding: 3px 5px;
  background-color: #fafbfc;
  border-bottom-color: #d1d5da;
  line-height: 10px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.outputContainer { width: 250px; margin-left: 10px; overflow-wrap: break-word; }
.mobile-btns { display: none; }
.btns { display:flex; margin-top:20px; }

@media only screen and (max-width: 600px) {
  main { flex-direction: column-reverse; padding: 65px; width: 100vw;}
  textarea { background-color:#fffdf6; width: 200px; height: 200px; }

  .input-container { flex-direction: row; }
  .outputContainer { width: 200px; }
  .btns { display: none; } .mobile-btns { display: flex; justify-content: center; margin-bottom: 15px;}
  .shortkeys { display: none; }
}
